{% extends "AdminBundle::layout.html.twig" %}

{% block page_container %}
    <style>
        .fa-sort{
            color: #ccc;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Mail</th>
                        <th>Message</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.firstName }}</td>
                            <td>{{ contact.lastName }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                            <td>{{ contact.mail }}</td>
                            <td>{{ contact.message }}</td>
                            <td><button class="btn btn-danger" data-toggle="modal" data-target="#modal_remove_contact" data-link="{{ path('_admin_contacts_delete', {'contact': contact.id}) }}"><span class="fa fa-trash-o"></span></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->

    <div id="modal_remove_contact" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suppression de message</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Êtes-vous sûr de vouloir supprimer ce message ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <a href="#" type="button" class="btn btn-danger">Supprimer</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script>
        var $modalRemoveContact = $('#modal_remove_contact');
        $modalRemoveContact.on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget).data('link');
            $modalRemoveContact.find("a.btn-danger").attr('href', link);
        });
    </script>
{% endblock %}