{% extends "AdminBundle::layout.html.twig" %}

{% block page_container %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ users|length }}</div>
                            <div>Member</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('_admin_users_list') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nextHikes|length }}</div>
                            <div>Prochaines randonnées</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('_admin_hikes_list') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nextEvents|length }}</div>
                            <div>Prochains évenements</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('_admin_events_list') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-envelope fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ contacts|length }}</div>
                            <div>Demandes d'informations</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('_admin_contacts_list') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="page-header">Anniverssaires dans les 30 prochains jours</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in nextBirthday %}
                        <tr>
                            <td>{{ member.first_name }}</td>
                            <td>{{ member.last_name }}</td>
                            <td>{{ member.birthdate|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>


    <div id="modal_valid_newsletter" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Envoi la newsletter</h4>
                </div>
                <div class="modal-body">
                    <p>Attention, vous êtes sur le point d'envoyer un mail à tout les membres abonné à la newsletter. Voulez-vous continuer ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Continuer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        var $modalValidNewsletter = $("#modal_valid_newsletter");
        var $formNewsletter = $("form[name=app_newsletter]");

        $formNewsletter.find('[type=submit]').click(function(){
            $modalValidNewsletter.modal();

            return false;
        });

        $modalValidNewsletter.find('.btn-primary').click(function(){
            $formNewsletter.submit();
        });
    </script>
{% endblock %}