{% extends "AdminBundle::layout.html.twig" %}

{% block page_container %}
    <style>
        .fa-sort{
            color: #ccc;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                    {# sorting of properties based on query components #}
                        <th class="col-xs-1">
                            #
                        </th>
                        <th class="col-xs-6">
                            {{ knp_pagination_sortable(pagination, 'Lieu', 'h.locality') }}
                            {% if pagination.isSorted('h.locality') %}
                                <i class="fa fa-sort-{{ pagination.params.direction }} pull-right"></i>
                            {% else %}
                                <i class="fa fa-sort pull-right"></i>
                            {% endif %}
                        </th>
                        <th class="col-xs-3">
                            {{ knp_pagination_sortable(pagination, 'Date', 'h.date') }}
                            {% if pagination.isSorted('h.date') %}
                                <i class="fa fa-sort-{{ pagination.params.direction }} pull-right"></i>
                            {% else %}
                                <i class="fa fa-sort pull-right"></i>
                            {% endif %}
                        </th>
                        <th class="col-xs-2">
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for hike in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ hike.id }}</td>
                            <td>{{ hike.locality }}</td>
                            <td>{{ hike.date|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('_admin_edit_hike', {'hike': hike.id}) }}" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
                                <a href="#" data-toggle="modal" data-target="#modal_remove_hike" data-link="{{ path('_admin_hikes_delete', {'hike': hike.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>

                                <a href="#" class="btn btn-success btn-sm btn-switch-status" data-toggle="modal" data-target="#modal_change_status" data-url="{{ path('_admin_hikes_status', {'hike':hike.id}) }}"><span class="fa fa-adjust"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <div id="modal_remove_hike" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suppression de randonnée</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Êtes-vous sûr de vouloir supprimer cette randonée ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <a href="#" type="button" class="btn btn-danger">Supprimer</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="modal_change_status" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modifier le status de la randonnée</h4>
                </div>
                <form class="form-horizontal" action="" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="status" class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <select id="change_status_hike" class="form-control" name="status">
                                    <option value="0">Maintenu</option>
                                    <option value="1">Annulé</option>
                                    <option value="2">Repporté</option>
                                </select>
                            </div>
                        </div>
                        <div id="date_report_group" class="form-group" style="display: none;">
                            <label for="date_report" class="col-sm-4 control-label">Nouvelle date</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input id="date_report" type="text" class="form-control"  name="date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" data-loading-text="Chargement..." class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script>
        var $formSwitch = $('#modal_change_status');
        $(function () {
            $(".date").datetimepicker({
                locale: '{{ app.request.locale[:2] }}'
            });

            var $btn;
            $formSwitch.find('form').ajaxForm({
                beforeSubmit: function(){
                    $btn = $formSwitch.find('.btn.btn-primary').button('loading');
                },
                success: function(){
                    $formSwitch.modal('hide');
                    $btn.button('reset');
                }
            });
        });

        var $modalRemoveHike = $('#modal_remove_hike');
        $modalRemoveHike.on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget).data('link');
            $modalRemoveHike.find("a.btn-danger").attr('href', link);
        });


        $('#change_status_hike').change(function(e) {
            e.preventDefault();
            var $dateReportGroup = $("#date_report_group");

            if($(this).val() == 2){
                $dateReportGroup.show();
                $dateReportGroup.find("input").prop('required',true);
            }
            else{
                $dateReportGroup.hide();
                $dateReportGroup.find("input").prop('required',false);
                $dateReportGroup.find("input").val('');
            }
        });
        $('.btn-switch-status').click(function(e) {
            e.preventDefault();

            $formSwitch.find('form').attr('action',$(this).data('url'));
        });





        $modalRemoveHike.find("a.btn-danger").click(function(){
            $(this).button('loading');
        });
    </script>
{% endblock %}