{% trans_default_domain 'FOSUserBundle' %}

<style>
    .panel > .panel-heading > .close{
        color: #a94442;
        opacity: 0.8;
    }
    #add_another_member > a {
        border: 2px dashed;
        border-radius: 5px;
        /*height: 612px;*/
        display: block;
        text-align: center;
        /*padding-top: 180px;*/
        font-size: 35px;
    }
    #add_another_member > a > span,#add_another_member > a > br {
        display: none;
    }
    #add_another_member > a {
        text-decoration: none;
    }
</style>

{{ form_start(form) }}
    {% if not form.vars.valid %}
        {{ form_errors(form) }}
        {{ form_errors(form.email) }}
    {% endif %}
    <div class="hidden">
        {{ form_row(form.invitation, {value: app.request.get('code')}) }}
    </div>
    {{ form_row(form.email, {value: app.request.get('email')}) }}
    {{ form_row(form.plainPassword) }}
    <div class="form-group">
        {{ form_errors(form.members) }}
        <div class="col-sm-12">
            <div id="member_fields_list"
                 class="row"
                 data-prototype="<div class='col-sm-6 member'>
                                     <div class='panel panel-default'>
                                         <div class='panel-heading'>
                                            Membre __number__
                                            <button type='button' class='btn btn-danger btn-xs pull-right' aria-label='Close'>
                                                Supprimer le membre
                                            </button>
                                         </div>
                                         <div class='panel-body'>
                                            <div class='alert alert-danger'>
                                                Membre en cours de validation
                                            </div>
                                            {{ form_widget(form.members.vars.prototype)|e }}
                                        </div>
                                     </div>
                                 </div>">
                {% for memberField in form.members %}
                    <div class="col-sm-6 member">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Membre {{ loop.index }}
                                {% if not loop.first %}
                                    <button type='button' class='btn btn-danger btn-xs pull-right' aria-label='Close'>
                                        Supprimer le membre
                                    </button>
                                {% endif %}
                            </div>
                            <div class="panel-body">
                                <div class="alert {% if memberField.vars.data.enabled %}alert-success{% else %}alert-danger{% endif %}">
                                    {% if memberField.vars.data.enabled %}Ce membre est confirmé{% else %}Membre en cours de validation{% endif %}
                                </div>
                                {{ form_errors(memberField) }}
                                {{ form_widget(memberField) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {{ form_row(form.accept) }}
    {{ form_row(form._token) }}
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" id="app_hike_save" name="app_hike[save]" class="btn-primary btn btn-lg btn-block">{{ 'registration.submit'|trans }}</button>
        </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}

<script>

    // setup an "add a tag" link
    var $addTagLink = $('<div id="add_another_member" class="col-sm-6"><a href="#"><span class="fa fa-plus-circle fa-2x"></span><br>Ajouter un membre</a></div>');
    var $newLinkBlock = $addTagLink;
    var $collectionHolder = $('#member_fields_list');

    jQuery(document).ready(function() {

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkBlock);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find('.panel').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addMemberForm($collectionHolder, $newLinkBlock);
        });
        /*$(".close").on('click', function(e) {
         e.preventDefault();
         $(this).closest('.course').remove();
         });*/
    });
    function addMemberForm($collectionHolder, $newLinkBlock) {
        $addTagLink.find('> a').css({
            "padding-top": "180px",
            "height": "612px"
        });
        $addTagLink.find('> a > span, > a > br').css({
            "display": "inline"
        });
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.find('.panel').length;

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        newForm = newForm.replace(/__number__/g, $collectionHolder.find('.member').length+1);

        // increase the index with one for the next item
        $collectionHolder.data('index', index);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newForm = $(newForm);
        $(".btn-danger",$newForm).on('click', function(e) {
            e.preventDefault();
            $newForm.remove();
            $addTagLink.show();
            if($collectionHolder.find('.panel').length < 1){
                $addTagLink.find('> a').css({
                    "padding": "0",
                    "height": "initial"
                });
                $addTagLink.find('> a > span, > a > br').css({
                    "display": "none"
                });
            }
        });
        $newLinkBlock.before($newForm);
        if($collectionHolder.find('.member').length >= 4) {
            $addTagLink.hide();
        }
    }
</script>