{% trans_default_domain 'FOSUserBundle' %}

<style>
    .panel > .panel-heading > .close{
        color: #a94442;
        opacity: 0.8;
    }
    #add_another_member > a {
        border: 2px dashed;
        border-radius: 5px;
        height: 612px;
        display: block;
        text-align: center;
        padding-top: 180px;
        font-size: 35px;
    }
</style>

{{ form_start(form) }}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
    {{ form_row(form.email, {value: app.request.get('email')}) }}
    {{ form_row(form.plainPassword) }}
    <div class="form-group">
        {{ form_errors(form.members) }}
        <div class="col-sm-12">
            <div id="member_fields_list"
                 class="row"
                 data-prototype="<div class='col-sm-6 member'>
                                         <div class='panel panel-default'>
                                             <div class='panel-heading'>
                                                Membre __number__
                                                <button type='button' class='btn btn-danger btn-xs pull-right' aria-label='Close'>
                                                    Supprimer le membre
                                                </button>
                                             </div>
                                             <div class='panel-body'>
                                                <div class='alert alert-danger'>
                                                    Ce membre n'est pas validé
                                                </div>
                                                {{ form_widget(form.members.vars.prototype)|e }}
                                            </div>
                                         </div>
                                     </div>">
                {% for memberField in form.members %}
                    <div class="col-sm-6 member">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Membre {{ loop.index }}
                                <button type='button' class='btn btn-danger btn-xs pull-right' aria-label='Close'>
                                    Supprimer le membre
                                </button>
                            </div>
                            <div class="panel-body">
                                <div class="alert {% if memberField.vars.data.enabled %}alert-success{% else %}alert-danger{% endif %}">
                                    {% if memberField.vars.data.enabled %}Ce membre est confirmé{% else %}Ce membre n'est pas validé{% endif %}
                                </div>
                                {{ form_errors(memberField) }}
                                {{ form_widget(memberField) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" id="app_hike_save" name="app_hike[save]" class="btn-primary btn btn-lg btn-block">{{ 'profile.edit.submit'|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}

<div id="modal_member_confirm_remove" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression du membre</h4>
            </div>
            <div class="modal-body alert alert-danger">
                Êtes-vous sûr de vouloir supprimer ce membre ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    // setup an "add a tag" link
    var $addTagLink = $('<div id="add_another_member" class="col-sm-6"><a href="#"><span class="fa fa-plus-circle fa-2x"></span><br>Ajouter un membre</a></div>');
    var $newLinkBlock = $addTagLink;
    var $collectionHolder = $('#member_fields_list');
    var $modalMemberConfirmRemove = $("#modal_member_confirm_remove");

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkBlock);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find('.panel').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addMemberForm($collectionHolder, $newLinkBlock);
        });

        $(".panel .btn-danger").on('click', function(e) {
            e.preventDefault();
            $modalMemberConfirmRemove.modal('show');
            $modalMemberConfirmRemove.find(".btn-danger").data('id', $(this).data('id'));

        });

        $modalMemberConfirmRemove.find(".btn-danger").on('click', function(e) {
            e.preventDefault();
            $modalMemberConfirmRemove.modal('hide');
            var id = $(this).data('id');


        });
    });


    function addMemberForm($collectionHolder, $newLinkBlock) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');
        index++;

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        newForm = newForm.replace(/__number__/g, $collectionHolder.find('.member').length+1);

        // increase the index with one for the next item
        $collectionHolder.data('index', index);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newForm = $(newForm);
        $(".btn-danger",$newForm).on('click', function(e) {
            e.preventDefault();
            $newForm.remove();
            $addTagLink.show();
        });
        $newLinkBlock.before($newForm);
        if($collectionHolder.find('.member').length >= 4) {
            $addTagLink.hide();
        }
    }
</script>