{% extends "FrontofficeBundle::layout.html.twig" %}

{% block page_container %}
    <style>
        td, th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow:'.';
        }
        a.label{
            padding: 5px;
        }
        .table > thead:first-child > tr:first-child > th{
            border: 1px solid #DDD;
        }
        .table > thead:first-child > tr:first-child > th.empty,
        .table > thead > tr > th.empty, table.table{
            border: none;
        }
        td.empty{
            background-color:#DDD !important;
        }
        .table > tbody > tr > td, .table > tbody > tr > th,
        .table > tfoot > tr > td, .table > tfoot > tr > th, 
        .table > thead > tr > td, .table > thead > tr > th{
            padding: 2px
        }
    </style>
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Calendrier
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th class="empty"></th>
                        {% if nbMonthCurrentYear != 0 %}<th colspan="{{ nbMonthCurrentYear }}">{{ currentYear }}</th>{% endif %}
                        {% if nbMonthnextYear != 0 %}<th colspan="{{ nbMonthnextYear }}">{{ nextYear }}</th>{% endif %}
                    </tr>
                    <tr>
                        <th class="empty"></th>
                        {% for month, number in nbDayByMonth %} 
                            <th class="text-center col-xs-1">{{ months[month] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set dayNum = 1 %}
                    {% for num, calendarLine in calendar %}
                        {% set dayNumModulo = dayNum%7 %}
                        <tr {% if dayNumModulo == 0 or dayNumModulo == 6 %}class="info"{% endif %}>
                            <td><b>{{ days[dayNumModulo] }}</b></td>
                            {% for month, day in calendarLine %}
                                <td {% if day is empty %}class="empty"{% endif %}>
                                    <span class="pull-left">{{ day }}</span>
                                    {% if programme[month][day] is defined %}
                                        <a href="{{ path('_hike',{'id':programme[month][day].id}) }}" class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="{{ programme[month][day].locality }}">
                                            <span class="fa fa-child fa-lg"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% set dayNum = dayNum+1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                    
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}