{% extends "FrontofficeBundle::layout.html.twig" %}

{% block page_container %}
        <style>
            .img-center {
                margin: 0 auto;
                height: 120px;
            }
        </style>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Contact et demande d'inscription
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-12">
                <p>
                    Les trajets pour les randonnées s'effectuent en co-voiturage. Les rendez-vous de départ s'effectuent le dimanche à 9 heures au parking, sous la salle Jean Moulin, au Crès (sauf indications modificatives). Si après une rando d'essai (chaussures adaptées, repas tiré du sac) vous souhaitez poursuivre, vous pouvez effectuer un demande d'inscription dans le formulaire ci-dessous {#sur la <a href="{{ path('_contact') }}">page de contact</a>#}ou en demandant un bultin d'adhésion lors de votre première randonnée. La cotisation, comprenant l'assurance, est fixée, pour 2016 — 2017 à 50 € par personne. Un certificat médical est exigé.
                </p>
                <p>
                    Bonnes découvertes et bonnes randonnées !
                </p>
                <p>PS : L'inscription au site se fait sur invitation, les demandes d'inscription ne sont pas instantanés.</p>
                {#<a href="{{ path('_contact') }}" class="btn btn-primary btn-lg">Demande d'inscription</a>#}
            </div>
        </div>
        <!-- /.row -->


        {% if is_granted('ROLE_MEMBER') %}
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Les membres</h2>
                </div>

                {% for member in members %}
                    {% if member.enabled %}
                        <div class="col-lg-4 col-sm-6 text-center">
                            <img class="img-circle img-responsive img-center" src="http://www.mapannonce.net/images/user.jpg" alt="">
                            <h3>{{ member.firstName|capitalize }} {{ member.lastName|upper }}</h3>
                            <p>
                                {% if member.mailVisible and member.mail != '' %}<b>Email :</b> {{ member.mail }}<br>{% endif %}
                                {% if member.phoneVisible and member.phone != '' %}<b>Téléphone :</b> {{ member.phone }}<br>{% endif %}
                                {% if member.adressVisible and member.adress1 != '' %}<b>Adresse :</b> {{ member.adress1 }} {{ member.adress2 }}<br>{{ member.zipCode }}<br>{{ member.city }}{% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <hr>
        
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Nous contacter ? <small>Un petit mot et on vous répondra</small></h3>

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                            {{ form_errors(form.firstName) }}
                            {{ form_errors(form.lastName) }}
                            {{ form_errors(form.phoneNumber) }}
                            {{ form_errors(form.mail) }}
                            {{ form_errors(form.message) }}
                        </div>
                    {% endif %}
                    {% if success is not null %}
                        <div class="alert alert-success">
                            Message envoyé avec succès
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label(form.firstName, 'Prénom', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName, 'Nom', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.phoneNumber, 'Téléphone', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mail, 'E-mail', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.message, 'Message', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {% if success is not null %}
                                {{ form_widget(form.save, {'label': 'Envoyé avec succés', 'attr': {'class': 'disabled btn btn-success'}}) }}
                            {% else %}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                            {% endif %}
                        </div>
                    </div>
                            
                    {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>

        </div>
    <!-- /.container -->
{% endblock %}