{% extends "FrontofficeBundle::layout.html.twig" %}

{% block page_container %}
    
    <style>
        .carousel-inner{
            height: 400px;
        }
        .carousel-inner > .item,.carousel-inner > .item > .fill{
            height: 100%;
        }
    </style>

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ hike.locality }}
                <small>{{ hike.title }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in hike.images %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in hike.images %}
                        <div class="item{% if loop.first %} active{% endif %}">
                            <div class="fill" style="background-image:url('{{ asset(image) }}');background-size: cover;"></div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Description</h3>
            <p class="text-justify">{{ hike.description|raw }}</p>
            <h3>Details</h3>
            <p>{{ hike.date|date('d/m/Y H:i:s') }}</p>
            <ul>
                <li><strong>Longueur : </strong>{{ hike.lenght }} km</li>
                <li><strong>Durée estimée : </strong>{{ hike.duration|date('H:i') }}</li>
                <li><strong>Dénivelé cumulé : </strong>{{ hike.heightDifference }} métres </li>
                <li><strong>Difficulté : </strong>{{ hike.dificulty }} </li>
                <li><strong>Départ  : </strong>{{ hike.start }}</li>
            </ul>
        </div>

    </div>
{% endblock %}