{% extends "FrontofficeBundle::layout.html.twig" %}

{% block page_container %}
    
    <style>
        .carousel-inner{
            height: 340px;
        }
        .carousel-inner > .item,.carousel-inner > .item > .fill{
            height: 100%;
        }
    </style>

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ hike.title }}
                <small>{{ hike.locality }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in hike.images %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in hike.images %}
                        <div class="item{% if loop.first %} active{% endif %}">
                            <div class="fill" style="background-image:url('{{ asset(image) }}');background-size: cover;"></div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <p><i>Le {{ hike.date|date('d/m/Y') }} à {{ hike.date|date('H\\hi') }}</i></p>
            <h3>Description</h3>
            <p class="text-justify">{{ hike.description|raw }}</p>
            <h3>Trajet</h3>
            <dl class="dl-horizontal">
                <dt>Départ</dt>
                <dd>{{ hike.start }}</dd>
                <dt>Arrivé</dt>
                <dd>{{ hike.locality }}</dd>
                <dt>Longeur du trajet</dt>
                <dd>{{ hike.distance }} km</dd>
            </dl>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Les parcours</h1>
        </div>
    </div>

    <div class="row">
        {% for course in hike.courses %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Parcours de {{ course.lenght }} km</b></h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Longueur</dt>
                            <dd>{{ course.lenght }} km</dd>
                            <dt>Dénivelé</dt>
                            <dd>{{ course.heightDifference }} m</dd>
                            <dt>Durée</dt>
                            <dd>{{ course.duration|date('h\\hm') }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Les photos de la randonnée</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="alert alert-info">Aucune photos ajouté pour le moment</div>
                {#{% if is_granted("ROLE_MEMBER") %}
                    TODO faire les photo des randonnées
                {% else %}
                    <p>Votre compte n'a pas encore été vérifié. Veuillez ré-essayer ultérieurement.</p>
                {% endif %} #}
            {% else %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-block btn-lg">Se connecter</a>
                        <h1 class="text-center">OU</h1>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-block btn-lg">S'inscrire au site</a>
                        <p>L'inscription au site permet aux membres de voir les photos des randonnées effectuées.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}