{% extends "AppBundle::layout.html.twig" %}

{% block page_header %}
    <style>
        body {
            padding-top: 0px;
        }
        @media (min-width: 768px){
            .navbar-inverse {
                background-color: rgba(34, 34, 34, 0.7);
                /*background-image: none;*/
                transition: all 0.3s ease-in-out 0s;
            }
        }
    </style>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" data-pause="none">
        <div id="innerCarousel" style="position: absolute; bottom: 0px; width: 100%; height: 100%;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('{{ asset('bundles/app/img/IMG_1148.JPG') }}');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{{ asset('bundles/app/img/IMG_1156.JPG') }}');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{{ asset('bundles/app/img/IMG_2630.JPG') }}');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{{ asset('bundles/app/img/IMG_2639.JPG') }}');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{{ asset('bundles/app/img/chaussures-randonnee.jpg') }}');"></div>
                </div>
            </div>

            <div class="caption-header">
                <h1 style="font-size: 55px;">Les Déboussolés</h1>
                <h2>Club de randonnée pédestre</h2>
            </div>
            <a class="btn btn-scroll-light sink" href="#container">
                <i class="fa fa-angle-double-down"></i>
            </a>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </header>
{% endblock %}

{% block page_container %}
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bienvenue sur le site des Déboussolés
            </h1>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-user-secret"></i> Qui sommes nous ?</h4>
                </div>
                <div class="panel-body">
                    <p>Le Club « Les Déboussolés » est une association, affiliée à la Fédération Française de Randonnées Pédestres. Créée en 1999, à Le Crès (34920), elle compte actuellement 70 Membres, dont la majorité a atteint l'âge de la retraite.</p>
                    <a href="{{ path('_association') }}" class="btn btn-default">En savoir plus</a>
                </div>
            </div>
        </div>
        {#<div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-rocket"></i> Lorem ipsum</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="404.html" class="btn btn-default">En savoir plus</a>
                </div>
            </div>
        </div>#}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Comment nous rejoindre ?</h4>
                </div>
                <div class="panel-body">
                    <p>Les rendez-vous de départ s'effectuent le Dimanche à 9 heures (sauf indications modificatives) du Parking sous la salle Jean Moulin, au Crès. </p>
                    <a href="{{ path('_contact') }}" class="btn btn-default">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    {% if nextHike is not null %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">La prochaine randonnée <a href="{{ path('_calendar') }}" class="btn btn-primary pull-right"><span class="fa fa-calendar"></span> Le calendrier</a></h2>
            </div>
            <div class="col-md-6">
                <h3>{{ nextHike.locality }}<br><small>{{ nextHike.title }}</small></h3>
                <p>{{ nextHike.date|date('d/m/Y H:i:s') }}</p>
                <ul>
                    <li><strong>Longueur : </strong>{{ nextHike.lenght }} km</li>
                    <li><strong>Durée estimée : </strong>{{ nextHike.duration|date('H:i') }}</li>
                    <li><strong>Dénivelé cumulé : </strong>{{ nextHike.heightDifference }} métres </li>
                    <li><strong>Difficulté : </strong>{{ nextHike.dificulty }} </li>
                    <li><strong>Départ  : </strong>{{ nextHike.start }}</li>
                </ul>
                <p class="text-justify">
                    {{ nextHike.description|nl2br }}
                </p>
                <a href="{{ path('_hike',{'hike':nextHike.id}) }}" class="btn btn-default">En savoir plus</a>
            </div>
            <div class="col-md-6">
                <div class="box" style="background-image: url('{{ asset(nextHike.images[0]|replace({'/web': ""})) }}')">
                    <div class="ribbon ribbon-success"><span>Maintenue</span></div>
                </div>
                <img class="img-responsive" src="" alt="" style="margin-top: 20px">
            </div>
        </div>
    {% endif %}
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row portfolio">
        <div class="col-lg-12">
            <h2 class="page-header">Nos dernières randonnées</h2>
        </div>

        {% for hike in previousHikes %}
            <div class="col-md-4 col-sm-6">
                <a href="{{ path('_hike',{'hike':hike.id}) }}">
                    <div class="img-portfolio" style="{% if hike.images|length > 0 %}background-image: url('{{ asset(hike.images[0]|replace({'/web': ""})) }}');{% endif %}"></div>

                    {#<img class="img-responsive img-portfolio img-hover" src="{{ asset('uploads/'~hike.image1) }}" alt="">#}
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                {{ hike.locality }}<br>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ path('_previous_hikes') }}" class="btn btn-default">Voir toute les précédentes randonnées</a>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.container -->
{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })

        $( window ).scroll(function() {
            if($( window ).scrollTop() != 0)
                $("nav.navbar-inverse").css('backgroundColor','rgba(34, 34, 34, 1)');
            else
                $("nav.navbar-inverse").css('backgroundColor','');

            $("#innerCarousel").css('height',(100-$( window ).scrollTop()/15)+"%");
        });


        $(".sink").click(function(){
            var the_id = $(this).attr("href");

            $('html, body').animate({
                scrollTop:$(the_id).offset().top-50
            }, 1500);
            return false;
        });
    </script>
{% endblock %}
